In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
df = pd.read_parquet('D:\Обучение\Data Science\MLOps\Module 1\Fhv_tripdata_2021-01.parquet')
df['duration'] = df.dropOff_datetime - df.pickup_datetime
df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)

In [6]:
df = df[(df.duration >= 1) & (df.duration <= 60)]

In [8]:
categorical = ['PUlocationID', 'DOlocationID']
df[categorical] = df[categorical].fillna(-1)
df[categorical].astype(str)

        PUlocationID DOlocationID
0               -1.0         -1.0
1               -1.0         -1.0
3               -1.0         72.0
4               -1.0         61.0
5               -1.0         71.0
...              ...          ...
1154107          7.0          7.0
1154108         44.0         91.0
1154109        171.0        171.0
1154110         15.0         15.0
1154111         -1.0         -1.0

[1109826 rows x 2 columns]

In [9]:
train_dicts = df[categorical].to_dict(orient='records')

In [10]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [11]:
target = 'duration'
y_train = df[target].values

In [12]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [13]:
y_pred = lr.predict(X_train)

In [14]:
mean_squared_error(y_train, y_pred, squared=False)

11.415432830521663

In [15]:
#Creating test dataset
df2 = pd.read_parquet('D:\Обучение\Data Science\MLOps\Module 1\Fhv_tripdata_2021-02.parquet')

df2['duration'] = df2.dropOff_datetime - df2.pickup_datetime
df2.duration = df2.duration.apply(lambda td2: td2.total_seconds() / 60)
df2 = df2[(df2.duration >= 1) & (df2.duration <= 60)]

In [16]:
categorical2 = ['PUlocationID', 'DOlocationID']
df2[categorical2] = df2[categorical2].fillna(-1)
df2[categorical2].astype(str)

        PUlocationID DOlocationID
1              173.0         82.0
2              173.0         56.0
3               82.0        129.0
4               -1.0        225.0
5               -1.0         61.0
...              ...          ...
1037687         -1.0         31.0
1037688         -1.0        169.0
1037689         28.0        171.0
1037690         16.0        252.0
1037691        171.0        135.0

[990113 rows x 2 columns]

In [17]:
train_dicts2 = df2[categorical2].to_dict(orient='records')

dv2 = DictVectorizer()
X_test = dv2.fit_transform(train_dicts2)

y_test = df2['duration'].values

In [18]:
y_pred2 = lr.predict(X_test)
mean_squared_error(y_test, y_pred2, squared=False)

11.85822362355935